# Ensure Sharp installs the correct Linux binary on Vercel
sharp_binary_host=https://github.com/lovell/sharp-libvips/releases/download/
sharp_vendor_vips=https://github.com/lovell/sharp-libvips/releases/download/
